/* Tablet */
@media only screen and (min-width: 574px){
}

/* Celular */
@media only screen and (max-width: 574px){
    main{
        width: 100%;
        height: 780px;
        padding-top: 30px;
        background: url('./background/background.png');
        background-size: 100%; 
        background-repeat: no-repeat;
        background-size:cover;
    }

    html{
        scroll-behavior: smooth;
        overflow-x: hidden;
    }

    .titulo-main-container{
        width: 85%;
        height: 60px;
        margin: 0px auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .icone-titulo-main{
        width: 40px; 
        -webkit-filter: drop-shadow(3px 3px 3px #222);
        filter: drop-shadow(3px 3px 3px #222);
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;
    }

    .titulo-h1-main{
        color: white;
        font-family: 'Rajdhani', sans-serif;
        font-size: 2.2rem;
        text-shadow: 2px 1px rgb(0, 0, 0);
    }

    .titulo-h2-main{
        color: black;
        font-family: 'Rajdhani', sans-serif;
        font-size: 2.2rem;
        text-shadow: 1px 1px rgba(167, 167, 167, 0.719);
    }

    .input-main-container{
        width: 90%;
        height: 70px;
        display: flex;
        flex-direction: row;
        margin: 0px auto;
        justify-content: center;
        align-items: center;
    }

    .pesquisar-input{
        border: none;
        width: 270px;
        height: 40px;
        margin-top:10px;
        padding-left: 10px;
        font-family: 'Rajdhani', sans-serif;
        font-size: 1rem;
        color: black;
    }

    .buscar-input{
        width: 72px;
        height: 40px;
        border:none;
        margin-left: 10px;
        cursor: pointer;
        font-family: 'Rajdhani', sans-serif;
        font-size: 0.9rem;
        color:rgb(255, 255, 255);
        background-color: rgb(0, 0, 0);
    }


    .exposicao-produtos{
        width: 90%;
        height: 630px;
        margin: 0px auto;
        display: flex;
        flex-direction: row;
    }

    .secao-produtos{
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 550px;
        padding-bottom: 20px;
        justify-content: center;
        align-items: center;
        
    }

    .prateleira-produto{
        width: 180px;
        height: 150px;
        margin-top: 10px;
        background-color: rgba(255, 255, 255, 0.582);
        border-radius: 5px;
    }

    .texto-prateleira{
        font-family: 'Rajdhani', sans-serif;
        font-size: 1.1rem;
        color:rgb(0, 0, 0);
        text-align: center;
        margin-top: 10px;
    }

    .texto-prateleira:hover{
        color: rgb(255, 255, 255);
        text-shadow: 2px 2px 4px #000000;
        cursor: pointer;
        transition: 0.3s;
    }


    .prateleira-img{
        width: 100px;
        display: flex;
        flex-direction: row;
        margin: 0px auto;
        margin-top: 23px;
    }

    .prateleira-img:hover {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -o-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
        transition: 1.5s;
        transform: translateY(-8%);
    }
}

/* Computador */
@media screen and (min-width: 991px) {
    main{
        width: 100%;
        height: 620px;
        background-color: red;
        padding-top: 30px;
        background: url('./background/background.png');
        background-size: 100%; 
        background-repeat: no-repeat;
    }

    .titulo-main-container{
        width: 600px;
        height: 70px;
        display: flex;
        flex-direction: row;
        margin: 0px auto;
    }

    .icone-titulo-main{
        width: 50px; 
        position: relative;
        left: 30px;  
        top: 10px;
        -webkit-filter: drop-shadow(3px 3px 3px #222);
        filter: drop-shadow(3px 3px 3px #222);
    }

    .titulo-h1-main{
        color: white;
        font-family: 'Rajdhani', sans-serif;
        font-size: 3.5rem;
        text-shadow: 2px 1px rgb(0, 0, 0);
        margin-top: 0px;
    }

    .titulo-h2-main{
        color: black;
        font-family: 'Rajdhani', sans-serif;
        font-size: 3.2rem;
        text-shadow: 1px 1px rgba(167, 167, 167, 0.719);
    }

    .input-main-container{
        width: 600px;
        height: 70px;
        display: flex;
        flex-direction: row;
        margin: 0px auto;
    }

    .pesquisar-input{
        border: none;
        width: 400px;
        height: 40px;
        margin-top:10px;
        padding-left: 20px;
        font-family: 'Rajdhani', sans-serif;
        font-size: 1.2rem;
        color: black;
    }

    .buscar-input{
        width: 150px;
        height: 40px;
        border:none;
        margin-left: 10px;
        cursor: pointer;
        font-family: 'Rajdhani', sans-serif;
        font-size: 1.2rem;
        color:rgb(255, 255, 255);
        background-color: rgb(0, 0, 0);
    }


    .exposicao-produtos{
        width: 750px;
        height: 400px;
        margin: 0px auto;
        
    }

    .secao-produtos{
        display: flex;
        flex-direction: row;
        width: 710px;
        margin-top: 25px;
        height: 150px;
        padding-bottom: 20px;
        
    }

    .prateleira-produto{
        width: 220px;
        height: 180px;
        margin-left: 10px;
        background-color: rgba(255, 255, 255, 0.582);
        border-radius: 5px;
    }

    .texto-prateleira{
        font-family: 'Rajdhani', sans-serif;
        font-size: 1.1rem;
        color:rgb(0, 0, 0);
        text-align: center;
        margin-top: 10px;
    }

    .texto-prateleira:hover{
        color: rgb(255, 255, 255);
        text-shadow: 2px 2px 4px #000000;
        cursor: pointer;
        transition: 0.3s;
    }


    .prateleira-img{
        width: 130px;
        position: relative;
        margin-left: 50px;
        margin-top: 27px;
        cursor:pointer;
    }

    .prateleira-img:hover {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -o-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
        transition: 1.5s;
        transform: translateY(-8%);
    }
}