/* Tablet */
@media only screen and (min-width: 574px){
}

/* Celular */
@media only screen and (max-width: 574px){
    header{
        background-color: rgba(0, 0, 0, 0.89);
        height: 70px;
        width: 100%;
        margin: 0px auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .hidden{
        visibility: hidden;
    }

    html{
        scroll-behavior: smooth;
    }

    .logo-botequim{
        width: 200px;
        margin: 35px 0px 0px;
    }

    nav{
        width: 40px;
        height: 40px;
        background-color: rgb(240, 128, 0);
        border-radius: 10px;
        margin-top: 3px;
        margin-left: 15%;
        background-image: url('./imgs/menu.png');
        background-size: cover;
    }

    nav:hover{
        cursor: pointer;
    }

    nav:hover ul{
        display: flex;
        flex-direction: column;
        margin-top: 42px;
        margin-left: -50px;
        z-index:1; 
        position: absolute;
    }

    nav ul li:hover ul{
        display: flex;
        flex-direction: column;
    }
    
    nav ul li a:hover{
        color: rgb(240, 128, 0);
    }

    nav ul{
        display: none;
        background-color: black;
        width: 140px;
        height: 140px;
        border: 1px solid rgb(255, 136, 0);
    }

    .icones{
        display: none;
    }

    nav ul li{
        text-align: center;
        height: 20px;
        margin-top: 10px;
        width: 140px;
        align-items: center;
        justify-content: center;
    }

    nav ul li a{
        color: white;
        font-family: 'Rajdhani', sans-serif;
        font-size: 1.1rem;
    }

    .btn{
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        bottom: 10px;
        right: 10px;
        width: 50px;
        height: 50px;
        background-color: #000;
        text-decoration: none;
    }
    
    .btn::after {
        content: "↑";
        font-size: 32px;
        font-weight: bold;
        color: aliceblue;
        transition: margin-top 250ms;
    }
    .btn:hover::after {
        margin-top:-8px;
    }
}

















/* Computador */
@media screen and (min-width: 991px) {
    header{
        background-color: rgba(0, 0, 0, 0.89);
        height: 70px;
        width: 100%;
        margin: 0px auto;
        display: flex;
        flex-direction: row;
    }

    .hidden{
        visibility: hidden;
    }

    .logo-botequim{
        width: 190px;
        margin: 6px 25px 0px;
    }

    nav ul{
        display: flex;
        flex-direction: row;
        width: 85%;
        height: 40px;
        margin: 0px auto;
        margin-top: 15px;
    }

    .icones{
        display: flex;
    }

    nav ul li{
        text-align: center;
        height: 20px;
        margin-top: 10px;
        width: 150px;
        align-items: center;
        justify-content: center;
    }

    nav ul li a{
        color: white;
        font-family: 'Rajdhani', sans-serif;
        font-size: 1.2rem;
    }

    .itens-menu{
        width: 40px;
        cursor: pointer;
        margin-top: 15px;
        margin-left: 35px;
    }

    .itens-menu2{
        width: 40px;
        cursor: pointer;
        margin-top: 15px;
        margin-left: 0px;
    }

    .btn{
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        bottom: 10px;
        right: 10px;
        width: 50px;
        height: 50px;
        background-color: #000;
        text-decoration: none;
    }
    .btn::after {
        content: "↑";
        font-size: 32px;
        font-weight: bold;
        color: aliceblue;
        transition: margin-top 250ms;
    }
    .btn:hover::after {
        margin-top:-8px;
    }
}